.body-root {
  display: grid;
  place-items: center;
}

.slider {
  height: 300px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px * 10);
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
}

.slide-track:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slide {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.image {
  width: 200px;
  height: auto;
  transition: transform 1s;
  -o-object-fit: cover;
     object-fit: cover;
}

.image:hover {
  transform: translateZ(20px);
}

/* .slide:hover .overlay {
  opacity: 1;
} */

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50;
  /* background: rgb(0, 0, 0); */
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 60%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.hightlight-text {
  padding-left: 30px;
}
