body {
  margin: 0;
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    72.92deg,
    #d48f43 10.01%,
    #cb5353 51.51%,
    #375cdf 99.33%
  );
}

code {
  font-family: "Space Grotesk", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
